
/* //////////////// Estilos fuentes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100&family=Varela+Round&display=swap');


/* //////////////// Final de estilos fuentes */

* {
    margin: 0px;
    padding: 0px;
}
body {
    display: flex;
    color: #fafafa;
    overflow: hidden;
   
    font-family: 'Varela Round', sans-serif;
}

main {
    flex-grow: 10;
    background-color:#30343f;
    height: 100vh;
}

/* //////////////// Inicio estilos para el Header */
header {
    background-color: #191e2b;
    height: 100px;
    padding: 10px;
}
 h1 {
     text-align: center;
     margin-top: 5px;
     margin-bottom: 30px;
 }

 .list-button-edition {
     display: flex;
     justify-content: center;
     
 }

 .list-button-edition li {
     list-style: none;
     margin-right: 20px;
     font-size: 14px;
 }

 /* //////////////// Final de Estilos para el header */


 /* //////////////// Inicio de Estilos para section*/

.meme-container {
    background-color: rgb(241, 87, 41);
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
}

 /* //////////////// Final de Estilos para section*/

 
  /* //////////////// Inicio de estilos para Aside*/
aside {
    background-color: #252935;
    width: 240px;
    height: 100vh;
    padding: 20px;
    overflow:scroll;
    
}

h2 {
    text-align: center;
    font-size: 18px;
}
h3 {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}



.input-for-url {
    border: none;
    background-color: #FF4C29;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.slider-editor > label {
    font-size: 13px;
}
.slider-editor {
    margin-top: 15px; 
}

input[type="range"] {
    appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: #FF4C29;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 18px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
}

.go-back-button {
    background-color: #FF4C29;
    border: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    font-family: 'Varela Round', sans-serif;
    color: #fafafa;
}
  /* //////////////// Final de estilos para Aside*/